h1 {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    letter-spacing: 20px;
    font-size: 40px;
    font-weight: normal;
    color: #ecf546;
    margin-left: 220px;
    text-shadow: 2px 2px 5px grey;
    margin-top: -50px;
}