/* CSS VUE-ARTICLE-ENTIER.PHP */

.container {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    column-gap: 10px 10px;
    grid-template-areas:
        "article anciens-articles"
        "article anciens-articles"
        "article anciens-articles"
        "article anciens-articles"
        "article anciens-articles";
}

.container {
    /* border: 2px solid #F9DE04; */

}



/* .perso,
img .perso {
    width: 100px;
    height: 150px;
    margin-left: 470px;
    margin-top: -996px;
    z-index: 1;
}

.ballonRouge {}

.ballon {
    width: 20px;
    height: 20px;
    position: absolute;
} */

/* .ballon,
img .ballonRouge {
    /* max-height: 350px; 

margin-left: -2015px;
margin-top: -1010px;
position: absolute;
z-index: 3;
animation: rotation 0.9s alternate infinite linear;
animation-delay: 5s;

 } /*

*/
/* @keyframes rotation {
    0% {



        bottom: 100%
    }

    100% {


        /* bottom: 42%; 
    }
}*/

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-weight: 700;

}

/* .conteneurArticle {
    border: solid 1px rgb(85, 84, 84);
    border-bottom: ;
} */

.article {
    width: 87%;
    grid-area: article;
    margin-left: 80px;
    /* border: 3px solid#F9DE04; */
    background-color: #f3f0f0;
    border-bottom:
}

.texte {
    font-family: 'Fira Sans', sans-serif;
    width: 35%;
    margin-left: 10%;
    margin-top: 50px;

}

.author-name {
    margin-left: 400px;
}

.classement {
    width: 39%;
    grid-area: article;
    margin-left: 800px;
    /* border: 3px solid#F9DE04; */
    background-color: #f3f0f0;

}

.anciens-articles {
    grid-area: anciens-articles;

    /* border: 3px solid#F9DE04; */
    margin-left: 330px;
    background-color: #f3f0f0;
    width: 55%;
}

.recent-img {
    height: 200px;
    width: 140 px;
    /* border-radius: 15%; */
    margin-top: -70px;
    margin-left: 350px;
}

.recent-imgAncien {
    height: 200px;
    width: 140px;
    margin-left: 80px
}

.block-article {

    text-align: center;
    border-bottom: solid 1px rgb(85, 84, 84);
}

.block-articleAncien {
    margin-top: 45px;
    margin-right: 100px;
}

.date {
    margin-top: -37px;
    margin-left: 10px;
}

.dateArticle {
    margin-left: 5px;
}




.imgArt3 {
    width: 160px;
    height: 230px;
    margin-left: 10%;
}

.titreEntier {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

.texteEntier {
    width: 60%;
    text-align: center;
    margin-left: 30%;
    margin-top: -220px;
}

.auteur {
    text-align: center;
}