/* CSS VUE-ARTICLE-ENTIER.PHP */

.container {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 10px;
    column-gap: 20px;
    grid-template-areas:
        "article anciens-articles"
        "article anciens-articles"
        "article anciens-articles"
        "article anciens-articles"
        "article anciens-articles";
}

.container {
    /* border: 2px solid #F9DE04; */

}

.perso,
img .perso {
    width: 250px;
    height: 300px;
    margin-left: 460px;
    margin-top: -200px;
    z-index: 1;
}

.ballonRouge {}

.ballon {
    width: 70px;
    height: 70px;
    position: absolute;
}

.ballon,
img .ballonRouge {
    max-height: 350px;
    margin-left: 1100px;
    margin-top: -225px;
    position: absolute;
    z-index: 3;
    animation: rotation 4.5s infinite linear;
    animation-delay: 50s;
}

@keyframes rotation {
    0% {
        transform: rotateX(360deg);
        margin-top: -1050px;
        margin-left: 1129px;

    }


    50% {
        transform: rotateX(360deg);
        margin-top: -560px;
    }

    60% {
        transform: rotate(360deg);
        margin-top: -260px;
    }



    /* 50% {
        transform: rotate(100deg);
        margin-top: 800px;
    }

    100% {
        transform: rotate(0deg);
        margin-top: -100px;
    } */
}

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-weight: 700;

}

.article {
    width: 70%;
    grid-area: article;
    margin-left: 80px;
    /* border: 3px solid#F9DE04; */
    background-color: #ECF0F1;

}

.texte {
    width: 35%;
    margin-left: 50%;
    margin-top: 50px;
}

.author-name {
    margin-left: 400px;
}

.anciens-articles {
    grid-area: anciens-articles;
    column-gap: 20px;
    /* border: 3px solid#F9DE04; */
    margin-right: 25px;
    background-color: #fffffe;
    width: 100%;
}

.recent-img {
    height: 200px;
    width: 140 px;
    border-radius: 15%;
    margin-top: -70px;
    margin-left: 12%;
}

.recent-imgAncien {
    height: 200px;
    width: 140px;
    margin-left: 80px
}

.block-article {
    border-bottom: 1px solid black;
    text-align: center;

}

.anciens-articles {
    margin-top: -5px;
}

.block-articleAncien {
    margin-top: 41px;
    margin-right: 100px;
}

.date {
    margin-top: -37px;
    margin-left: 80px;
}




.imgArt3 {
    width: 160px;
    height: 230px;
    margin-left: 10%;
}

.titreEntier {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

.texteEntier {
    width: 60%;
    text-align: center;
    margin-left: 30%;
    margin-top: -220px;
}

.auteur {
    text-align: center;
}