@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.autreMenu ul {
    list-style: none;
    text-align: center;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    float: center;
    text-align: center;
    /*     border-radius: 5%;
    box-shadow: 0px 15px 10px -5px #777; */
}

.autreMenu li {
    padding: 26px 30px;
}

.imgArt2 {
    /*Image sur l'article*/
    width: 175px;
    height: 210px;
    margin: 20px;
    display: inline-block;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.texte {
    /*texte de l'article*/
    margin-top: 100px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

div p {
    display: inline-block;
}

.date {
    font-size: 20px;
}

.ligne {
    background-color: #F9DE04;
    height: 1px;
    border: none;
}

.Nous_trouver {
    text-align: center;
}

.actualite {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "article ."
        "article ."
        "article ."
        "article ."
        "article ."
        "article ."
        "article ."
        "article ."
        "article ."
        "article .";
}

.actualite {
    grid-area: article;
}