img {
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    width: 200px;
}

img:hover {
    /* border: 2px solid #000000; */
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

.min {

    overflow: hidden;
    position: sticky;
    margin: 20px;
    float: left;

}