@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

/*Navigation*/
body {
    margin-top: 0px;
    margin-left: 0px;
    font-family: Avenir, sans-serif;
    width: 1600px;
    height: auto;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

header {
    background-image: url(../Media/stade.jpg);
    height: 400px;
    width: 1800px;
}

/* titre */
h1 {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    letter-spacing: 20px;
    font-size: 50px;
    font-weight: normal;
    color: rgb(249, 222, 4);
    text-align: center;
    text-shadow: 2px 2px 5px black, 0 0 25px blue, 0 0 5px darkblue;
    margin-top: -50px;


}

/* logo */
.imglogo {

    width: 120px;
    height: 120px;
    margin-top: 30px;
    margin-left: 70px;
}

button {
    width: 100px;
    border: none;
    background-color: #fff;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(249, 222, 4);
}


a {
    text-decoration: none;
    color: #34384D;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
}


.navbar-container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    border-bottom: solid rgb(168, 168, 168) 1px;
    margin-left: 83px;
    margin-right: 100px;
}


.main-navbar {
    display: flex;
    justify-content: flex-start;

}


.dropdown-btn {
    /* background-color: whitesmoke; */
    /* padding: 5px; */
    /* font-size: 14px; */
    /* border: none; */
    cursor: pointer;
    font-weight: 600;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial;
    box-shadow: inset #fafafa 0px 5px 8px -1px, #a8a8a8 0px 4px 0px;
    o-box-shadow: inset #fafafa 0px 5px 8px -1px, #a8a8a8 0px 4px 0px;
    -moz-box-shadow: inset #fafafa 0px 5px 8px -1px, #a8a8a8 0px 4px 0px;
    -webkit-box-shadow: inset #fafafa 0px 5px 8px -1px, #a8a8a8 0px 4px 0px;
    background: #eeeeee;
    /* background: -o-linear-gradient(90deg, #eeeeee, #e1e1e1);
    background: -moz-linear-gradient(center top, #eeeeee 5%, #e1e1e1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #e1e1e1));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e1e1e1');
    background: -webkit-linear-gradient(#eeeeee, #e1e1e1);
    background: -ms-linear-gradient(#eeeeee, #e1e1e1);
    background: linear-gradient(#eeeeee, #e1e1e1); */
    text-indent: 0px;
    line-height: 0px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 12px;
    color: #696969;
    width: 95px;
    height: 0px;
    padding: 13px;
    border-color: #e1e1e1;
    border-width: 1px;
    border-style: solid;
}


.navbar-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;

}


.btn {
    border: solid 1px whitesmoke;
    border-radius: 20px;

}


button {
    width: 100px;
    border: none;
    background-color: #fff;
    border-radius: 10px;

}

.active-btn {
    /* background-color: #3ED8F4; */
    border: none;
}


.active-btn:hover {
    background-color: whitesmoke;
}


.active-btn a {
    color: #fff;
}


.content {

    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
}


.content a {
    color: whitesmoke;
    display: flex;
    line-height: 2;
    padding: 0 10px;
    background-color: rgb(231, 231, 231);
}


.content a:hover {
    background-color: #070807;
}



.dropdown:hover .content {
    display: block;
    background-color: #d4e89d;
}


.navbar-btn {
    display: flex;
    justify-content: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    float: right;
}


div #contact {
    margin-left: 950px;
    margin-top: -26px;

}

.Nous_trouver {
    margin-left: 30px;
    font-family: 'Fira Sans', sans-serif;
}

.dropdown {
    margin-right: 5px;
}