body {
    background-color: beige;
    width: auto;
    height: 500px;
    overflow-y: hidden;
    margin: 0%;
}

.choix {
    margin-top: 200px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F9DE04;
}

li {
    display: inline;
    float: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}