.autreMenu ul {
    list-style: none;
    text-align: left;
    margin-left: -13%;
    padding-left: 5px;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 80%;

}

.autreMenu li {
    padding: 26px 30px;
}

h3 {
    /*titre Autre Menu*/

    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 2px solid black;
    letter-spacing: 2px;
}

header {
    background-image: url("media/banniere_foot.jpg");
}

.imgArt2 {
    /*Image sur l'article*/
    width: 175px;
    height: 210px;
    margin: 20px;
    display: inline-block;
}



.texte {
    /*texte de l'article*/
    margin-top: 100px;
    display: inline-block;
}

div p {
    display: inline-block;
}

.date {
    font-size: 20px;
}